body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container-top {
  font-size: 19px;
  font-weight: bolder;
}

.container-top-flex {
  margin-left: 20vw;
}
.detail-middle {
  line-height: 20px;
  background-color: rgba(51, 153, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0);
  color: #fff;
  padding: 15px;
  font-weight: bolder;
}
.detail-circle {
  height: 56px;
  width: 56px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  color: #259b24;
  background-color: #fff;
}
.detail-text {
  color: rgba(247, 247, 247, 1);
  font-size: 16px;
  font-family: SourceHanSansSC-regular;
  padding-bottom: 10px;
}
.detail-text-small {
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-family: SourceHanSansSC-regular;
}

.detail-title {
  height: 39px;
  line-height: 39px;
  color: rgba(121, 119, 119, 1);
  padding-left: 5px;
  background-color: rgba(51, 153, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0);
}
.detail-title span {
  border-left: 4px solid #0069ff;
  padding-right: 10px;
}
.detail-result-record {
  margin: 0 20px;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px dotted gainsboro;
}
.detail-result-record-index {
  height: 20px;
  width: 20px;
  color: #fff;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  background: #3399FF 65%;
  border-radius: 5px;
}
.content-icon {
  padding-right: 5px;
}
.container-search {
  height: 7vh;
}
.container-top-icon {
  padding-top: 8px;
}
.placeholder {
  background-color: #ebebef;
  color: #bbb;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 100%;
}

.container-content {
  max-height: 85vh;
  overflow-y: scroll;
  position: relative;
}

.content {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}

.content-serialNum {
  font-size: 16px;
  color: #101010;
  padding-bottom: 10px;
}

.content-person {
  color: #666;
  font-size: 14px;
  padding-bottom: 10px;
}

.content-date {

}
